
<div class="container">
    <% @places.in_groups_of(4, false).each do |group| %>
        <div class='row'>
            <% @places.each do |place| %>
                <div class='col-md-3'>
                <h1><%= place.name %></h1>
                    <i><%= place.address %></i><br /><br />
                    <i><%= place.description %></i>
                </div>
            <% end %>
        </div>
    <% end%>
</div>