
<div class="container">
    <% @places.in_groups_of(4, false).each do |group| %>
        <div class='row'>
            <% @places.each do |place| %>
                <div class='col-md-3'>
                <h1><%= link_to place.name, place_path(place) %></h1><br />
                
                    <i><%= place.address %></i><br /><br />
                    <i><%= place.description %></i>
                    <% if place.user.present? %>
                        <small><%= place.user.email %></small>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end%>
</div>